# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# PyCharm config
.idea/

# OS files
.DS_Store
Thumbs.db

# Cache / processed data
data/cache/*
data/processed/*
